:root {
  --primary: #00bfa6;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #f6f8fa;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.ant-select-selector {
  padding: 0 !important;
}

.ant-select-selection-search {
  left: 0 !important;
}

.flex {
  display: flex;
}

.fRow {
  flex-direction: row;
}

.fColumn {
  flex-direction: column;
}

.fSpaceBetween {
  justify-content: space-between;
}
